

.slider-popup {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px; /* Adjust width as needed */
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.slider-popup.active {
  transform: translateX(0);
}
