.typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #002147; /* Creates a cursor effect */
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    0% { width: 0; }
    25% { width: 100%; }
    50% { width: 100%; }
    75% { width: 0; }
    100% { width: 0; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #002147; }
}
