.aboutBgBanner {
  background-image: url(./image/bg1.jpg);
  background-size: 100vw 80vh;
  background-repeat: no-repeat;
}
.contactBgBanner {
  background-image: url(./image/bg2.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
