/* .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  @keyframes jump {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    40% {
      transform: translateY(0);
      opacity: 1;
    }
    60% {
      transform: translateY(-20px);
    }
    80% {
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate-jump {
    animation: jump 1.5s ease-out;
  }
  
  .animate-fadeIn {
    animation: fadeIn 2s ease-in;
  }
  