@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');





:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
  background: #fefefe;
  color: black;

}

.sofadi-one-regular {
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bg-icon {
  background: url(".") no-repeat -23% bottom;
  background-size: contain;
}

.bg-news {
  background: url("") no-repeat center 50%;
  background-size: cover;
  height: 500px;
}

.bg-tran-blue {
  background-color: rgba(35, 35, 239, 0.5);
}

/* @media (min-width: 200px){
.container {
  max-width: 100%;
  
}
} */
@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
/* signin slider css start */
.bg-userdata {
  background-color: rgba(0, 0, 0, 0.6);
}
/* signin slider css end */


.about-overlay{
  background: rgba(0, 0, 0, 0.7);
}

/*  */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap");

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}
img{
  width: auto;

}
.max-w-100 img{
  max-width: 100% !important;
  width: auto;
}
/* SECTION - HOME */

/* SECTION - CARD CONTAINER */

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  min-height: 100vh;
  background: rgb(67, 69, 112);
  background: radial-gradient(circle,
      rgba(67, 69, 112, 1) 3%,
      rgba(35, 36, 57, 1) 60%);
  overflow: hidden;
  padding: 90px 50px;
}

.card {
  max-width: 300px;
  aspect-ratio: 3/5;
  border-radius: 15px;
  margin: 20px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5),
    inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  cursor: grab;
}
