.aboutBgBanner {
    background-image: url(./image/bg-3.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
  }
  